body {
    color: #ffffff; /* Белый текст */
}
/* Стили для формы */
#orderForm {
    color: #ffffff; /* Белый цвет текста */
    font-family: Arial, sans-serif; /* Читабельный шрифт */
}

/* Стили для полей ввода */
#orderForm input[type="text"],
#orderForm input[type="date"],
#orderForm input[type="time"],
#orderForm input[type="number"],
#orderForm select {
    border: 1px solid fuchsia; /* Граница фуксии */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/* Стили для кнопок */
#orderForm button {
    background-color: #f00; /* Красный фон */
    color: #fff; /* Белый текст */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Стили для модального окна */
.modal-content {
    background-color: #800080; /* Фиолетовый фон */
    color: #ffffff; /* Белый текст */
}

/* Стили для заголовка модального окна */
.modal-title {
    color: #ac7de5; /* Розовый текст */
}

/* Стили для кнопки закрытия модального окна */
.close {
    color: #00f; /* Синий текст */
}

body {
    background-color: gray;
}

h2 {
    color: fuchsia;
}

h3 {
    color: red;
}

p {
    color: purple;
}

#routes, #searchRoutes {
    color: pink;
}

#routeName, #landmark {
    color: blue;
}

footer .pagination {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
}