/* Стили для таблицы заявок */
#requestsTable {
    width: 100%;
    border-collapse: collapse;
}

#requestsTable th, #requestsTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Стили для кнопок */
.button {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.button.view {
    background-color: fuchsia;
}

.button.edit {
    background-color: purple;
}

.button.delete {
    background-color: red;
}

/* Стили для модальных окон */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}